@page "/Events"
@using Events_WebAPP.Server

@if (SessionId.user != null)
{
    <h3>Logado como @SessionId.user.Username</h3>
                                            
                                            
                                            
    <h3>Events</h3>
    if (SessionId.user.Role.Equals("organizer"))
    {
        <h4>Organizer Menu</h4>
        <div>
            <a href="@($"Eventdetails")" class="btn btn-success">Add Event</a>
        </div>
    }
    else
    {
        <h4>Participant Menu</h4>
    }
 
    <table class="table">
        <thead>
        <tr>    
            <th>
                ID
            </th>
            <th>
                Location
            </th>
            <th>
                Name
            </th>
            <th>
                Manage
            </th>
            
        </tr>
        </thead>
        <tbody>
        @foreach (var item in _envents)
        {
            <tr>
                <td>
                    @item.EventId
                </td>
                <td>
                    @item.Location
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @if (SessionId.user.Role.Equals("organizer"))
                    {
                        <a href="@($"Activity/{item.EventId}")" class="btn btn-warning"> Add Activity</a>
                        <a href="@($"Eventdetails/{item.EventId}")" class="btn btn-danger">Edit</a>
                        <a href="@($"ActivityDetails/{item.EventId}")" class="btn btn-warning">All Activities</a>
                                                                                          
                    }
                    else
                    {
                        <a href="@($"Registrations/{item.EventId}")" class="btn btn-warning"> Registrar</a>
                        <a href="@($"ActivityDetails/{item.EventId}")" class="btn btn-warning">All Activities</a>

                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h3>Login não efetuado</h3>
    <NavLink class="nav-link" href="Login">
        <span class="oi oi-list-car" aria-hidden="true"></span> Login
    </NavLink>
}

