@page "/Events"

@if (SessionId.user != null)
{
    if (SessionId.user.Role.Equals("Participant"))
    {
        <PageTitle>Menu Participante</PageTitle>
    }
    else
    {
        <PageTitle>Menu Organizer</PageTitle>
    }
}

<h3>Events</h3>
<div>
    <a href="@($"Eventdetails")" class="btn btn-success">Add Event</a>
</div>
<table class="table">
    <thead>
    <tr>    
        <th>
            ID
        </th>
        <th>
            Location
        </th>
        <th>
            Name
        </th>
        <th>
            Manage
        </th>
            
    </tr>
    </thead>
    <tbody>
        @foreach (var item in _envents)
        {
            <tr>
                <td>
                    @item.EventId
                </td>
                <td>
                    @item.Location
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    <a href="@($"Eventdetails/{item.EventId}")" class="btn btn-danger">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>