@page "/Search"

<h3>SearchEvent</h3>
<div>
    <EditForm Model="@evento" OnValidSubmit="HandleValidRequest" OnInvalidSubmit="@HandleFailedRequest">
        <div>
            <label for="name">Name:</label>
            <InputText id="name" class="form-control" @bind-Value="@evento.Name"/>
        </div>

        <div>
            <label for="date">Date:</label>
            <InputDate id="date" class="form-control" @bind-Value="@evento.Date"/>
        </div>


        <div>
            <label for="location">Location:</label>
            <InputText id="location" class="form-control" @bind-Value="@evento.Location"/>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
        <a @onclick="GoToHome" class="btn btn-danger">Back</a>

    </EditForm>

</div>